/* Reset de padding, margin e box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo geral para body */
body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background: linear-gradient(135deg, #4b3fc5 0%, rgb(79, 145, 214) 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Alterado de auto para hidden */
}

/* Estilo do container principal */
#container {
    max-width: 900px;
    max-height: 100vh; /* Adicionado max-height */
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    overflow: auto;
    margin: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/smile-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    pointer-events: none;
    border-radius: 8px;
}

#container h1 {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    margin: 0;
    transition: all 0.3s ease;
}

#ANS {
    display: inline-block;
    position: fixed;
    left: 5px;
    writing-mode: vertical-rl;
    font-size: 8px;
    font-weight: lighter;
    border: 1px solid #a0a0a08a;
    border-radius: 3px;
    background-color: #111111;
    color: #fff;
    padding: 10px 3px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

#ANS2 {
    display: none;
    transition: all 0.3s ease;
}

#confirm-check:checked+#container {
    border-radius: 8px;
}

/* Estilo da mensagem inicial */
#mensagem {
    background-color: #fffefe;
    width: 100%;
    max-width: 800px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #111111;
    box-shadow: 0 0 5px #00000077;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mensagem h1 {
    opacity: .9;
}

#mensagem h2 {
    margin-bottom: 10px;
    opacity: .7;
}

#mensagem p {
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}

#mensagem h2 a {
    text-decoration: none;
    color: #111111;
}

#mensagem h2 a:hover {
    text-decoration: underline;
    color: #0c21da;
}

#confirma {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.checkbox-wrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.checkbox-wrapper .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #b9b8c3;
    transition: all 0.2s ease;
}

.checkbox-wrapper .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #4a3fc5bb;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.checkbox-wrapper .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #b9b8c3;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.checkbox-wrapper .cbx:hover span:first-child {
    border-color: #4a3fc5bb;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child {
    border-color: #4a3fc5bb;
    background: #4a3fc5bb;
    animation: check-15 0.6s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:last-child {
    color: #b9b8c3;
    transition: all 0.3s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

@keyframes check-15 {
    50% {
        transform: scale(1.2);
    }
}


#read-link {
    font-weight: normal;
    text-decoration: none;
    color: #111111;
    margin: 10px 0px;
    width: fit-content;
    text-align: center;
    margin: 0px 25px 0px 5px;
    cursor: text;
}

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #4a3fc5bb;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.button.disabled2 {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button:hover .icon {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}


#content {
    text-align: center;
    height: auto;
    overflow: hidden;
    padding-top: 15px;
}

#content h1 {
    letter-spacing: 1.5px;
    color: #303031ef;
    margin-top: 10px;
}

#content p {
    text-align: justify;
    text-indent: 20px;
    margin: 15px;
    transition: all 0.3s ease;
}

#confirmacao {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

label {
    font-weight: bold;
}

#doc {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 10px 0px;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #4a3fc5bb;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.buttonDownload:hover {
    background-color: #4a3fc5;
    color: white;
}

.buttonDownload:before,
.buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #cdefbd;
}

.buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
}

@keyframes downloadArrow {
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0.4;
    }
}

.download-btn:hover {
    background-color: #4a3fc5;
    color: #fff;
    scale: 1.1;
}

.download-btn.disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
}


#alert {
    line-height: 34px;
    transition: all 0.3s ease;
}

#doc p {
    display: none;
    color: red;
    line-height: 37px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff94;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    body {
        padding: 20px 10px;
    }

    #mensagem h2 {
        text-align: justify;
        font-size: 1.1rem;
    }

    #confirma {
        flex-direction: column;
    }

    .checkbox-wrapper {
        margin: 20px 0px;
    }

    #container {
        width: 100%;
        margin: 20px 0;
        box-shadow: none;
        height: auto;
    }

    #content {
        overflow-y: auto;
    }

    #content p {
        text-indent: 10px;
        margin: 10px;
    }

    .download-btn {
        font-size: 14px;
        padding: 8px 15px;
        width: 100px;
    }

    #confirmacao {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 0;
        width: 100%;
    }

    #doc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        align-self: center;
    }

    #doc a {
        
        width: 100%;
    }


    .buttonDownload {
        width: 80%;
        margin: 0px 10px;
    }    

    #footer {
        display: none;
    }

    #ANS {
        display: none;
    }

    #ANS2 {
        display: inline-block;
        position: fixed;
        bottom: 0px;
        margin-bottom: -5px;
        font-size: 8px;
        font-weight: lighter;
        border-radius: 3px;
        color: #fff;
        padding: 10px 3px;
        letter-spacing: 2px;
    }
}
